
AUTH_PASS=admin123
JWT_SECRET=please-change-me
AUTH_IDENTIFIER=admin@darulquran.com
AUTH_PASS=admin123
JWT_SECRET=please-change-me
NEXT_PUBLIC_BASE_API=http://localhost:5000/api/v1 
NEXT_PUBLIC_APP_URL=http://localhost:3000
NODE_ENV= development


